* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
  
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    background-image: url(../img/fundo_quadra_login.png);
    background-size: cover;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
     width: 100%;
    border-bottom: 2px solid #ff4500;
    padding: 15px 0;
  

}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  gap: 965px;
}



.logo p {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff4500;
  cursor: default;
}


.navbar {
  display: flex;
  gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }



.nav_a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s ease;
  position: relative;
}


.nav_a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #ff4500;
  transition: width 0.3s ease;
}

.nav_a:hover::after {
  width: 100%;
}

.nav_a:hover {
  color: #ff4500;
}

  
  .logo p {
    font-size: 1.5rem;
  }


.nav_a{
  text-decoration: none;
  color: white;
  font-weight: border;
  
  
    

}


.container_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 330px;
}

.card_login{
display: flex;
color: white;
width: 350px;
padding: 15px;
flex-direction: column;
justify-content: flex-end;



}  

img{
    width: 500px;
}

a{
     text-decoration: none;
     color:rgb(197, 95, 0) ;
     font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  
}
.a_opcoes{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 5px;
}

input{
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    border: solid 2px rgb(197, 95, 0) ;
    background-color: #262826 ;
    color: white;
    font-weight: border;
}
.button_entrar{
    display: flex;
    width: 130px;
    height: 35px;
    margin-right: 35px;
    margin-top: 5px ;
    background-color:rgb(197, 95, 0);
    border: none;
    border-radius: 10px;
    align-items: center;
}

.button_entrar:hover{
    background-color: black;
    color: white;
    transition: 1s;
    border: solid 2px rgb(197, 95, 0) ;
}

.div_master_cadastro{
display: flex;
flex-direction: row;
margin-top: 60px;
gap: 300px;
}