body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 20px;
  color: white;
}


h1, h2 {
  text-align: center;
  color:orange;
}


.indicadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-bottom: 30px;
  background-color: black;
  gap: 45px;
  margin-top: 12px;
}
.indicador{
  display: flex;
  flex-direction: row;
  background-color: #ff7b00;

}
.indicador:hover{
  background-color: black;
  border: solid 2px #ff7b00;
  color: white;
  transition: 1s;
}

 div {
  background: #fff;
  padding: 17px 20px;
  border-radius: 10px;
  font-size: 18px;
  min-width: 130px;
  text-align: center;
  font-weight: bold;
  color: #111;

  
  
}

 

canvas {
 
  margin: 25px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 650px;
  border: 2px solid #111; 
}


h2 {
  border-bottom: 3px solid #ff7b00;
  padding-bottom: 3px;
}
