
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    padding: 0;
}


h1 {
    text-align: center;
    margin-top: 30px;
    color: #ff4500;
    font-size: 25px;
}

.container {
    background-color: #131313;
    border: 1px solid #ff4500;
    border-radius: 12px;
    padding: 25px;
    width: 70%;
    margin: 40px auto;
}


.container h2 {
    color: #ff4500;
    margin-bottom: 20px;
}


input{
    width: 100%;
    padding: 12px;
    background-color: #1f1f1f;
    border: 2px solid #ff4500;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    outline: none;
}

input::placeholder {
    color: #bbbbbb;
}


button {
    width: 100%;
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: black;
    border: 2px solid #ff4500;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff4500;
}


button a {
    display: block;
    width: 100%;
    text-align: center;
}

